#page-wrap {
	width: 960px;
}

.main_header {
	position: fixed;
	display: block;
	margin: 0 auto;
	width: 98%;
	min-width: 318px;
	height: 40%;
	min-height: 120px;
	border-radius: 10px;
	z-index: 2;
	background-image: url("images/romero-canyon.jpg"); /*I'll be taking my own panoramic image to update.*/
	background-size: 100% 100%;
	text-align: center;
	font-size: 100%;
	font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.main_header h1 {
	font-style: bold;
}

.main_header p {
	margin-top: -2%;
	font-size: 1.2em;
	
}

@media (max-width: 489px) {
	.main_header h1 {
		font-size: 1.3em;
	}
	.main_header p {
		font-size: 1.1em;
	}
}